html {
    font-size: 10px;
    background-color: #ef7079;
    background-size: cover;
}

body, html {
    margin: 0;
    padding: 0;
    font-family: monaco, Consolas, "Lucida Console", monospace;
}

.keys {
    display: flex;
    flex: 1;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
}